{% extends "space/space.html" %} {% block accueil %}
<a
  style="border-radius: 5px; color: #fff;"
  class="btn-outline-secondary nav-link"
  href="{% url 'my_auths:space' %}"
>
  <i class="fa fa-dashboard" aria-hidden="true"></i>
  Accueil
</a>
{% endblock %} {% block clients %}
<div style="background-color: rgb(87, 81, 81);">
  <a
    style="color: #fff;"
    class="nav-link active"
    href="{% url 'my_auths:landlordClients' %}"
  >
    <i class="fa-solid fa-users"></i>
    Clients
  </a>
</div>

{% endblock %} {% block content %}
<div>
  <h1>Clients page !!!</h1>
</div>
{% endblock %}
