{% extends "space/space.html" %} {% block accueil %}
<a
  style="border-radius: 5px; color: #fff;"
  class="btn-outline-secondary nav-link"
  href="{% url 'my_auths:space' %}"
>
  <i class="fa fa-dashboard" aria-hidden="true"></i>
  Accueil
</a>
{% endblock %} {% block maisons %}
<div style="background-color: rgb(87, 81, 81);">
  <a
    style="color: #fff;"
    class="nav-link"
    href="{% url 'my_auths:landlordMaisons' %}"
  >
    <i class="fa fa-home" aria-hidden="true"></i>
    Maisons
  </a>
</div>

{% endblock %} {% block content %}
<div style="position: relative;">
  <div class="container-fluid" style="position: absolute; margin-top: 1em;">
    <nav
      class="navbar"
      style="border-radius: 0.5em; padding: 1em; background-color: #e3f2fd;"
    >
      <h3>Maisons</h3>

      <div>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa-solid fa-plus"></i>
          AJOUTER
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="ajoutMaisonModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ajoutMaisonModalLabel">
                  Ajouter une nouvelle maison
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form
                class="needs-validation"
                method="POST"
                novalidate
                action="{% url 'my_auths:addMaison' %}"
                enctype="multipart/form-data"
              >
                <div
                  class="modal-body"
                  style="max-height: calc(100vh - 210px);"
                >
                  {% csrf_token %}
                  <div class="mb-3 row">
                    <div class="col-sm-12" style="margin: 0.5em 0em;">
                      <input
                        name="ville"
                        style="
                          font-size: 20px;
                          border-radius: 1em;
                          padding: 0.1em 1em;
                          height: 130%;
                        "
                        type="text"
                        class="form-control"
                        id="inputText"
                        placeholder="Ville"
                        required
                      />
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <div class="col-sm-12" style="margin: 0.5em 0em;">
                      <input
                        name="quartier"
                        style="
                          font-size: 20px;
                          border-radius: 1em;
                          padding: 0.1em 1em;
                          height: 130%;
                        "
                        type="text"
                        class="form-control"
                        id="inputText"
                        placeholder="Quartier"
                        required
                      />
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <div class="col-sm-12" style="margin: 0.5em 0em;">
                      <input
                        name="loyer"
                        style="
                          font-size: 20px;
                          border-radius: 1em;
                          padding: 0.1em 1em;
                          height: 130%;
                        "
                        type="text"
                        class="form-control"
                        id="loyer"
                        placeholder="Loyer"
                        required
                      />
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <div class="col-sm-12" style="margin: 0.5em 0em;">
                      <input
                        name="cotion"
                        style="
                          font-size: 20px;
                          border-radius: 1em;
                          padding: 0.1em 1em;
                          height: 130%;
                        "
                        type="text"
                        class="form-control"
                        id="cotion"
                        placeholder="Cotion"
                        required
                      />
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <div class="col-sm-12" style="margin: 0.5em 0em;">
                      <input
                        name="type_maison"
                        style="
                          font-size: 20px;
                          border-radius: 1em;
                          padding: 0.1em 1em;
                          height: 130%;
                        "
                        type="text"
                        class="form-control"
                        id="type_m"
                        placeholder="Type maison"
                        required
                      />
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <div class="col-sm-12" style="margin: 0.5em 0em;">
                      <input
                        name="nombre_piece"
                        style="
                          font-size: 20px;
                          border-radius: 1em;
                          padding: 0.1em 1em;
                          height: 130%;
                        "
                        type="text"
                        class="form-control"
                        id="piece"
                        placeholder="Nombre de pièces"
                        required
                      />
                    </div>
                  </div>

                  <div
                    class="d-flex justify-content-center"
                    style="margin-bottom: 1em;"
                  >
                    <div class="form-check form-check-inline">
                      <input
                        name="status"
                        class="form-check-input"
                        type="radio"
                        id="inlineRadio1"
                        value="location"
                      />
                      <label class="form-check-label" for="inlineRadio1">
                        En location
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        name="status"
                        class="form-check-input"
                        type="radio"
                        id="inlineRadio2"
                        value="vente"
                      />
                      <label class="form-check-label" for="inlineRadio2">
                        En vente
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        name="status"
                        class="form-check-input"
                        type="radio"
                        id="inlineRadio3"
                        value="loc_ven"
                      />
                      <label class="form-check-label" for="inlineRadio3">
                        Location / Vente
                      </label>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">
                      Image Principale
                    </label>
                    <input
                      name="photo"
                      type="file"
                      class="form-control"
                      id="inputGroupFile01"
                    />
                  </div>

                  <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">
                      Autres images
                    </label>
                    <input
                      name="photos"
                      type="file"
                      class="form-control"
                      id="inputGroupFile02"
                      multiple
                    />
                  </div>

                  <div class="mb-3 row">
                    <div class="col-sm-12" style="margin: 0.5em 0em;">
                      <input
                        name="quantite"
                        style="
                          font-size: 20px;
                          border-radius: 1em;
                          padding: 0.1em 1em;
                          height: 130%;
                        "
                        type="number"
                        class="form-control"
                        id="quantite"
                        placeholder="Quantité disponible pour ce modèle"
                      />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Annuler
                  </button>
                  <button type="submit" class="btn btn-success">
                    Ajouter
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% if maisons %}
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3"
      style="padding: 0.5em 0;"
    >
      {% for maison in maisons %}
      <div class="col">
        <div class="card shadow-sm">
          <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="200px"
            src="{{maison.photo.url}}"
            alt="Photo de la maison de {{request.user.username}}"
          />

          <div class="card-body">
            <p class="card-text">
              Quantité disponible: {{maison.quan_dispo}} | Ville :
              {{maison.ville}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#editMaisonModal"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  title="Editez des informations de cette maison."
                >
                  <i class="fa-solid fa-pen"></i>
                </button>

                <!-- Vertically centered modal -->
                <div
                  class="modal fade"
                  id="editMaisonModal"
                  tabindex="-1"
                  aria-labelledby="editMaisonModalLabel"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editMaisonModalLabel">
                          Modification
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <form
                        class="needs-validation"
                        method="POST"
                        novalidate
                        action="{% url 'my_auths:editMaison' maison.id %}"
                        enctype="multipart/form-data"
                      >
                        <div
                          class="modal-body"
                          style="max-height: calc(100vh - 210px);"
                        >
                          {% csrf_token %}
                          <div class="mb-3 row">
                            <div class="col-sm-12" style="margin: 0.5em 0em;">
                              <input
                                name="ville"
                                style="
                                  font-size: 20px;
                                  border-radius: 1em;
                                  padding: 0.1em 1em;
                                  height: 130%;
                                "
                                type="text"
                                class="form-control"
                                id="inputText"
                                placeholder="Ville"
                                value="{{maison.ville}}"
                                required
                              />
                            </div>
                          </div>

                          <div class="mb-3 row">
                            <div class="col-sm-12" style="margin: 0.5em 0em;">
                              <input
                                name="quartier"
                                style="
                                  font-size: 20px;
                                  border-radius: 1em;
                                  padding: 0.1em 1em;
                                  height: 130%;
                                "
                                type="text"
                                class="form-control"
                                id="inputText"
                                placeholder="Quartier"
                                value="{{maison.quartier}}"
                                required
                              />
                            </div>
                          </div>

                          <div class="mb-3 row">
                            <div class="col-sm-12" style="margin: 0.5em 0em;">
                              <input
                                name="loyer"
                                style="
                                  font-size: 20px;
                                  border-radius: 1em;
                                  padding: 0.1em 1em;
                                  height: 130%;
                                "
                                type="text"
                                class="form-control"
                                id="loyer"
                                placeholder="Loyer"
                                value="{{maison.loyer}}"
                                required
                              />
                            </div>
                          </div>

                          <div class="mb-3 row">
                            <div class="col-sm-12" style="margin: 0.5em 0em;">
                              <input
                                name="cotion"
                                style="
                                  font-size: 20px;
                                  border-radius: 1em;
                                  padding: 0.1em 1em;
                                  height: 130%;
                                "
                                type="text"
                                class="form-control"
                                id="cotion"
                                placeholder="Cotion"
                                value="{{maison.cotion}}"
                                required
                              />
                            </div>
                          </div>

                          <div class="mb-3 row">
                            <div class="col-sm-12" style="margin: 0.5em 0em;">
                              <input
                                name="type_maison"
                                style="
                                  font-size: 20px;
                                  border-radius: 1em;
                                  padding: 0.1em 1em;
                                  height: 130%;
                                "
                                type="text"
                                class="form-control"
                                id="type_m"
                                placeholder="Type maison"
                                value="{{maison.type_maison}}"
                                required
                              />
                            </div>
                          </div>

                          <div class="mb-3 row">
                            <div class="col-sm-12" style="margin: 0.5em 0em;">
                              <input
                                name="nombre_piece"
                                style="
                                  font-size: 20px;
                                  border-radius: 1em;
                                  padding: 0.1em 1em;
                                  height: 130%;
                                "
                                type="text"
                                class="form-control"
                                id="piece"
                                placeholder="Nombre de pièces"
                                value="{{maison.nombre_piece}}"
                                required
                              />
                            </div>
                          </div>

                          <div
                            class="d-flex justify-content-center"
                            style="margin-bottom: 1em;"
                          >
                            <div class="form-check form-check-inline">
                              <input
                                name="status"
                                class="form-check-input"
                                type="radio"
                                id="inlineRadio1"
                                value="location"
                              />
                              <label
                                class="form-check-label"
                                for="inlineRadio1"
                              >
                                En location
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input
                                name="status"
                                class="form-check-input"
                                type="radio"
                                id="inlineRadio2"
                                value="vente"
                              />
                              <label
                                class="form-check-label"
                                for="inlineRadio2"
                              >
                                En vente
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input
                                name="status"
                                class="form-check-input"
                                type="radio"
                                id="inlineRadio3"
                                value="loc_ven"
                              />
                              <label
                                class="form-check-label"
                                for="inlineRadio3"
                              >
                                Location / Vente
                              </label>
                            </div>
                          </div>

                          <div class="input-group mb-3">
                            <label
                              class="input-group-text"
                              for="inputGroupFile01"
                            >
                              Image Principale
                            </label>
                            <input
                              name="photo"
                              type="file"
                              class="form-control"
                              id="inputGroupFile01"
                            />
                          </div>

                          <div class="input-group mb-3">
                            <label
                              class="input-group-text"
                              for="inputGroupFile01"
                            >
                              Autres images
                            </label>
                            <input
                              name="photos"
                              type="file"
                              class="form-control"
                              id="inputGroupFile02"
                              multiple
                            />
                          </div>

                          <div class="mb-3 row">
                            <div class="col-sm-12" style="margin: 0.5em 0em;">
                              <input
                                name="quantite"
                                style="
                                  font-size: 20px;
                                  border-radius: 1em;
                                  padding: 0.1em 1em;
                                  height: 130%;
                                "
                                type="number"
                                class="form-control"
                                id="quantite"
                                placeholder="Quantité disponible pour ce modèle"
                                value="{{maison.quan_dispo}}"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal"
                          >
                            Annuler
                          </button>

                          <button type="submit" class="btn btn-outline-success">
                            Appliquer
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- ---------------------------------------------------------------------------------------------------- -->
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#delMaisonModal"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  title="Supprimez cette maison."
                >
                  <i class="fa-solid fa-trash"></i>
                </button>

                <!-- Vertically centered modal -->
                <div
                  class="modal fade"
                  id="delMaisonModal"
                  tabindex="-1"
                  aria-labelledby="delMaisonModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="delMaisonModalLabel">
                          Suppression
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Voulez-vous vraiment supprimer cette maison.
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-outline-secondary"
                          data-bs-dismiss="modal"
                        >
                          Annuler
                        </button>

                        <a
                          href="{% url 'my_auths:deleteMaison' maison.id %}"
                          class="btn btn-outline-danger"
                        >
                          Supprimer
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <small class="text-muted">{{maison.ajoute_le}}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %} {% block costum-scripts %}
<script>
  ;(() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        'submit',
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        },
        false,
      )
    })
  })()
</script>
{% endblock %}
